<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="">



	<!--loads NLog extensions from the *.dll file-->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>



	<!--defines log targets/outputs-->
	<targets>
		<target xsi:type="Console"
					name="LegoLearnConsole"
					layout="${longdate}|${level:uppercase=true}|${message}" />

		<target 
			name="file1" 
			xsi:type="File" 
			fileName="${logDirectory}/file1.txt"
			layout="${myTextLayout}" />
	</targets>



	<!--defines log routing rules-->
	<rules>
		<logger
			name="*"

			level="level"
			minlevel ="minlevel"
			maxlevel="maxlevel"
			levels="Fatal,Debug,Info"

			writeTo="targetName"
			final ="false"
			enabled="false"
			/>
	</rules>



	<!--includes external configuration file-->
	<include file="NLog.config" />



	<!--sets the value of a configuration variable-->

	<variable name="logDirectory" value="legolearn-logs/${shortdate}"/>
	<variable name="myTextLayout">
		<layout type="FileLayout" name="message" value="${messsage}">
		</layout>
	</variable>


</nlog>