<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target xsi:type="File"
				name="Trace-LegoLearnFile"
				fileName="c:\temp\legolearn\Trace-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
		
		<target xsi:type="File"
				name="Debug-LegoLearnFile"
				fileName="c:\temp\legolearn\Debug-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
					  
		<target xsi:type="File"
				name="Warning-LegoLearnFile"
				fileName="c:\temp\legolearn\Warning-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
	
		<target xsi:type="File"
				name="Info-LegoLearnFile"
				fileName="c:\temp\legolearn\Info-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
		
		<target xsi:type="File"
				name="Error-LegoLearnFile"
				fileName="c:\temp\legolearn\Error-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
		
		<target xsi:type="File"
				name="Fatal-LegoLearnFile"
				fileName="c:\temp\legolearn\Fatal-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />

		<target xsi:type="Console"
				name="LegoLearnConsole"
				layout="${longdate}|${level:uppercase=true}|${message}" />

	</targets>

	<rules>

		<!--<logger name="*" minlevel="Trace"  maxlevel="Fatal" writeTo="LegoLearnConsole" />-->
		<logger name="*" level="Fatal" writeTo="LegoLearnConsole" />
		
		<logger name="*" level="Trace" writeTo="Trace-LegoLearnFile" final="true" />
		<logger name="*" level="Debug" writeTo="Debug-LegoLearnFile" final="true" />
		<logger name="*" level="Warning" writeTo="Warning-LegoLearnFile" final="true" />
		<logger name="*" level="Info" writeTo="Info-LegoLearnFile" final="true" />
		<logger name="*" level="Error" writeTo="Error-LegoLearnFile" final="true" />
		<logger name="*" level="Fatal" writeTo="Fatal-LegoLearnFile" final="true" />

	</rules>
</nlog>