<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target xsi:type="File"
				name="LegoLearnFile"
				fileName="c:\temp\legolearn\nlog-LegoLearnLogs-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}" />

		<target xsi:type="Console"
				name="LegoLearnConsole"
				layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}" />

	</targets>

	<rules>

		<logger name="*" minlevel="Info" writeTo="LegoLearnFile" final="true" />

		<logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="LegoLearnConsole" />
		<!--<logger name="*" level="Debug" writeTo="LegoLearnConsole" />-->

	</rules>
</nlog>