<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="">

	
	
	<!--loads NLog extensions from the *.dll file-->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	
	
	<!--defines log targets/outputs-->
	<targets>
		<target xsi:type="Console"
					name="LegoLearnConsole"
					layout="${longdate}|${level:uppercase=true}|${message}" />
	</targets>

	
	
	<!--defines log routing rules-->
	<rules>
		<logger 
			name="*" 
			name="KhN.Server.*" 
			name="KhN.Server.Controllers" 

			level="level" 
			minlevel ="minlevel"
			maxlevel="maxlevel"
			levels="Fatal,Debug,Info"

			writeTo="targetName"
			final ="false"
			enabled="false"
			/>
	</rules>

	
	
	<!--includes external configuration file-->
	<include>

	</include>

	
	
	<!--sets the value of a configuration variable-->
	<variable>

	</variable>
	
	
	
</nlog>