<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<!--Session9-->
		<!--<target xsi:type="File"
				name="Trace-LegoLearnFile"
				fileName="c:\temp\legolearn\Trace-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
		
		<target xsi:type="File"
				name="Debug-LegoLearnFile"
				fileName="c:\temp\legolearn\Debug-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
					  
		<target xsi:type="File"
				name="Warning-LegoLearnFile"
				fileName="c:\temp\legolearn\Warning-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
	
		<target xsi:type="File"
				name="Info-LegoLearnFile"
				fileName="c:\temp\legolearn\Info-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
		
		<target xsi:type="File"
				name="Error-LegoLearnFile"
				fileName="c:\temp\legolearn\Error-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
		
		<target xsi:type="File"
				name="Fatal-LegoLearnFile"
				fileName="c:\temp\legolearn\Fatal-nlog-LegoLearn-Log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />

		<target xsi:type="Console"
				name="LegoLearnConsole"
				layout="${longdate}|${level:uppercase=true}|${message}" />-->



		<!--Session10-->
		<!--<target name="xmlFile" xsi:type="File" fileName="c:\temp\xml\fatal-legolearn-log.xml" >
			<layout xsi:type="XmlLayout" includeEventProperties="false" elementName='logevent'>
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<element name="message" value="${message}" />
			</layout>
		</target>-->



		<!--Session11-->
		<!--<target name="jsonFile" xsi:type="File" fileName="c:\temp\json\log-file.json" >
			<layout xsi:type="JsonLayout" includeEventProperties="Boolean" excludeProperties="Comma-separated list (string)">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
			</layout>
		</target>-->


		<!--Session12-->
		<!--<target xsi:type="ColoredConsole"
			  name="ColorFulllllConsole"
			  encoding="utf-8"
			  layout="${level:uppercase=true}   | ${message}">
			
			<highlight-row condition="level == LogLevel.Trace" backgroundColor="Green" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Debug" backgroundColor="Cyan" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Info" backgroundColor="DarkBlue" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Warn" backgroundColor="DarkYellow" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Error" backgroundColor="Magenta" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Fatal" backgroundColor="Red" foregroundColor="White"/>
		</target>-->


	</targets>

	<rules>

		<!--Session9-->
		<!--<logger name="*" minlevel="Trace"  maxlevel="Fatal" writeTo="LegoLearnConsole" />-->
		<!--
		<logger name="*" level="Fatal" writeTo="LegoLearnConsole" />
		
		<logger name="*" level="Trace" writeTo="Trace-LegoLearnFile" final="true" />
		<logger name="*" level="Debug" writeTo="Debug-LegoLearnFile" final="true" />
		<logger name="*" level="Warning" writeTo="Warning-LegoLearnFile" final="true" />
		<logger name="*" level="Info" writeTo="Info-LegoLearnFile" final="true" />
		<logger name="*" level="Error" writeTo="Error-LegoLearnFile" final="true" />
		<logger name="*" level="Fatal" writeTo="Fatal-LegoLearnFile" final="true" />-->

		<!--Session10-->
		<!--<logger name="*" level="Fatal" writeTo="xmlFile" final="true" />-->


		<!--Session11-->
		<!--<logger name="*" level="Fatal" writeTo="jsonFile" final="true" />-->


		<!--Session12-->
		<!--<logger name="*" minlevel="Trace" writeTo="ColorFulllllConsole" />-->

	</rules>
</nlog>